<ion-content [fullscreen]="true">
  <div class="ludo-container">
    <div class="angry-grid">

      <div id="item-0" class="diepath">
        <div class="path h-100">
          <div class="path1" style="display: flex; width: 100%; height: 100%; justify-content: space-between;">
            <div class="div1 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: column-reverse; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-1">1</div>
              <div #pathElements class="pathdesign path-2">2</div>
              <div #pathElements class="pathdesign path-3">3</div>
              <div #pathElements class="pathdesign path-4">4</div>
              <div #pathElements class="pathdesign path-5">5</div>
              <div #pathElements class="pathdesign path-6">6</div>
            </div>
            <div class="div2 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: column; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-7">7</div>
              <div #innerpathElements class="pathdesign path-53">53</div>
              <div #innerpathElements class="pathdesign path-54">54</div>
              <div #innerpathElements class="pathdesign path-55">55</div>
              <div #innerpathElements class="pathdesign path-56">56</div>
              <div #innerpathElements class="pathdesign path-57">57</div>
            </div>
            <div class="div3 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: column; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-8">8</div>
              <div #pathElements class="pathdesign path-9">9</div>
              <div #pathElements class="pathdesign path-10">10</div>
              <div #pathElements class="pathdesign path-11">11</div>
              <div #pathElements class="pathdesign path-12">12</div>
              <div #pathElements class="pathdesign path-13">13</div>
            </div>
          </div>
        </div>
      </div>
      <div id="item-1" class="diepath">
        <div class="path h-100">
          <div class="path1"
            style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: column;">
            <div class="div1 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; align-items: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-14">14</div>
              <div #pathElements class="pathdesign path-15">15</div>
              <div #pathElements class="pathdesign path-16">16</div>
              <div #pathElements class="pathdesign path-17">17</div>
              <div #pathElements class="pathdesign path-18">18</div>
              <div #pathElements class="pathdesign path-19">19</div>
            </div>
            <div class="div2 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between;flex-direction: row-reverse; align-items: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-7">20</div>
              <div #innerpathElements class="pathdesign path-58">58</div>
              <div #innerpathElements class="pathdesign path-59">59</div>
              <div #innerpathElements class="pathdesign path-60">60</div>
              <div #innerpathElements class="pathdesign path-61">61</div>
              <div #innerpathElements class="pathdesign path-62">62</div>
            </div>
            <div class="div3 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: row-reverse; align-items: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-21">21</div>
              <div #pathElements class="pathdesign path-22">22</div>
              <div #pathElements class="pathdesign path-23">23</div>
              <div #pathElements class="pathdesign path-24">24</div>
              <div #pathElements class="pathdesign path-25">25</div>
              <div #pathElements class="pathdesign path-26">26</div>
            </div>
          </div>
        </div>
      </div>
      <div id="item-2" class="diepath">
        <div class="path h-100">
          <div class="path1"
            style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: row-reverse;">
            <div class="div1 h-100"
              style="display: flex;flex-direction: column;width: 100%; height: 100%; justify-content: space-between; align-items: center; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-27">27</div>
              <div #pathElements class="pathdesign path-28">28</div>
              <div #pathElements class="pathdesign path-29">29</div>
              <div #pathElements class="pathdesign path-30">30</div>
              <div #pathElements class="pathdesign path-31">31</div>
              <div #pathElements class="pathdesign path-32">32</div>
            </div>
            <div class="div2 h-100"
              style="display: flex; width: 100%; height: 100%;  flex-direction: column-reverse; justify-content: space-between; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-33">33</div>
              <div #innerpathElements class="pathdesign path-63">63</div>
              <div #innerpathElements class="pathdesign path-64">64</div>
              <div #innerpathElements class="pathdesign path-65">65</div>
              <div #innerpathElements class="pathdesign path-66">66</div>
              <div #innerpathElements class="pathdesign path-67">67</div>
            </div>
            <div class="div3 h-100"
              style="display: flex; width: 100%; height: 100%;   flex-direction: column-reverse; justify-content: space-between; text-align: center; border: 1px solid;">
              <div #pathElements class="pathdesign path-34">34</div>
              <div #pathElements class="pathdesign path-35">35</div>
              <div #pathElements class="pathdesign path-36">36</div>
              <div #pathElements class="pathdesign path-37">37</div>
              <div #pathElements class="pathdesign path-38">38</div>
              <div #pathElements class="pathdesign path-39">39</div>
            </div>
          </div>
        </div>
      </div>
      <div id="item-3" class="diepath">
        <div class="path h-100">
          <div class="path1"
            style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: column-reverse;">
            <div class="div1 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; flex-direction: row-reverse; border: 1px solid;  align-items: center;">
              <div #pathElements class="pathdesign path-40">40</div>
              <div #pathElements class="pathdesign path-41">41</div>
              <div #pathElements class="pathdesign path-42">42</div>
              <div #pathElements class="pathdesign path-43">43</div>
              <div #pathElements class="pathdesign path-44">44</div>
              <div #pathElements class="pathdesign path-45">45</div>
            </div>
            <div class="div2 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; border: 1px solid;  align-items: center;">
              <div #pathElements class="pathdesign path-40">46</div>
              <div #innerpathElements class="pathdesign path-68">68</div>
              <div #innerpathElements class="pathdesign path-69">69</div>
              <div #innerpathElements class="pathdesign path-70">70</div>
              <div #innerpathElements class="pathdesign path-71">71</div>
              <div #innerpathElements class="pathdesign path-72">72</div>
            </div>
            <div class="div3 h-100"
              style="display: flex; width: 100%; height: 100%; justify-content: space-between; border: 1px solid;  align-items: center;">
              <div #pathElements class="pathdesign path-47">47</div>
              <div #pathElements class="pathdesign path-48">48</div>
              <div #pathElements class="pathdesign path-49">49</div>
              <div #pathElements class="pathdesign path-50">50</div>
              <div #pathElements class="pathdesign path-51">51</div>
              <div #pathElements class="pathdesign path-52">52</div>
            </div>
          </div>
        </div>
      </div>
      <div id="item-4" class="centerHole">
      </div>
      <div id="item-5" class="greenCorner playerArea">
        <div class="diceArea" (click)="greenRolldice()">
          <img src="assets/images/dice-{{greenDiceNumber}}.png" id="diceImg" alt="">
        </div>
        <div class="dot-area" #greenDotArea>
          <div class="corner top-left">
            <span>🟢</span>
          </div>
          <div class="corner top-right">
            <span>🟢</span>
          </div>
          <div class="corner bottom-left">
            <span>🟢</span>
          </div>
          <div class="corner bottom-right">
            <span>🟢</span>
          </div>
        </div>
      </div>
      <div id="item-6" class="yellowCorner playerArea">
        <div class="diceArea" (click)="yelloRolldice()">
          <img src="assets/images/dice-{{yellowDiceNumber}}.png" id="diceImg" alt="">
        </div>
        <div class="dot-area" #yellowDotArea>
          <div class="corner top-left">
            <span>🟠</span>
          </div>
          <div class="corner top-right">
            <span>🟠</span>
          </div>
          <div class="corner bottom-left">
            <span>🟠</span>
          </div>
          <div class="corner bottom-right">
            <span>🟠</span>
          </div>
        </div>
      </div>
      <div id="item-7" class="blueCorner playerArea">
        <div class="diceArea" (click)="blueRolldice()">
          <img src="assets/images/dice-{{BlueDiceNumber}}.png" id="diceImg" alt="">
        </div>
        <div class="dot-area" #blueDotArea>
          <div class="corner top-left">
            <span>🔵</span>
          </div>
          <div class="corner top-right">
            <span>🔵</span>
          </div>
          <div class="corner bottom-left">
            <span>🔵</span>
          </div>
          <div class="corner bottom-right">
            <span>🔵</span>
          </div>
        </div>
      </div>


      <div id="item-8" class="redCorner playerArea">
        <div class="diceArea" (click)="redRolldice()">
          <img src="assets/images/dice-{{redDiceNumber}}.png" id="diceImg" alt="">
        </div>
        <div class="dot-area" #redDotArea>
          <div class="corner top-left">
            <span>🔴</span>
          </div>
          <div class="corner top-right">
            <span>🔴</span>
          </div>
          <div class="corner bottom-left">
            <span>🔴</span>
          </div>
          <div class="corner bottom-right">
            <span>🔴</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>